@tailwind base;
@tailwind components;
@tailwind utilities;

/* Burger */
.navbar {
    @apply p-2 mb-5 bg-blue-600 flex justify-between;
}
.burger-container {
    @apply block lg:hidden;
}

.burger {
    @apply relative flex flex-col justify-between w-8 h-6;
    z-index: 2;
}

.checkbox {
    @apply block absolute cursor-pointer opacity-0 h-8 w-8 z-10;
}

/* Burger lines */
.burger .line {
    @apply block w-full h-1 bg-green-300;
}

/* Animation of lines */
.burger-container .burger .line-1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.burger-container .burger .line-2 {
    transition: transform 0.2s ease-in-out;
}

.burger-container .burger .line-3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.burger-container .checkbox:checked ~ .burger .line-1 {
    transform: rotate(45deg);
}

.burger-container .checkbox:checked ~ .burger .line-2 {
    transform: scaleY(0);
}

.burger-container .checkbox:checked ~ .burger .line-3 {
    transform: rotate(-45deg);
}

/* menu slide out */

.menu-items {
    transition: transform 0.4s ease-in-out;
    transform: translateX(150%);
    @apply flex flex-col text-center bg-blue-600 overflow-hidden absolute h-screen w-full py-20 text-5xl lg:hidden
}

.burger-container .checkbox:checked ~ .menu-items {
    transform: translateX(-93%);
}